
*{
	margin: 0;
	padding: 0;
}

html{ 
	font-family:Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust:100%;
	font-size: 20px;
}

body{}

header{
	width: 100%;
	font-size:15px;	
}

header h1{
	font-size: 3rem;  /* 以最上層的hmtl設定的20px為標準 */
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
}

section{
	background-color:#FFF;
	padding-left:10%;
	padding-right:10%;
	font-size:15px;
}

section h3{
	font-size:2em;  /* 以上層的section設定的15px為標準 */
	padding-bottom: 0.75rem;
	letter-spacing: 0.05rem;
}

section p{
	line-height: 1.5;
	padding-bottom: 0.75rem;
}

footer{}

footer h3{
	font-size: 0.75rem;
	line-height: 3rem;
	text-align: center;
	color: #FFF;
	background-color: #000;
}