@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;}
	
body{}
#wrapper{
	width:980px;
	margin:0 auto;}

header{
	background-color:#C30;
	height:100px;
	position:relative;}
	
header h1{
	color: #FFF;
	font-size: 50px;
	position: absolute;
	left: 60px;
	top: 20px;}

header ul{
	position: absolute;
	right:10px;
	top: 30px;}
	
header li{
	list-style-type:none;
	float:left;}
	
header li a{
	display:block;
	padding:10px;
	color:#FFF;}
	
header li a:hover{
	color:#FF0;
	text-decoration:none;}

#banner{}
#banner img{
	vertical-align:bottom;}

#themes{
	background-color:#243538;
	padding:60px 40px;
	overflow:hidden;
}

#themes .tt{
	width:30%;
	float:left;
	margin:1.66%;}

#themes .tt h3{
	color:#FFF;
	font-size:26px;
	margin-bottom:16px;}

#themes .tt p{
	color:#999;
	line-height:24px;}

#services{
	clear:both;
	background-color:#9CC;
	padding:30px;}
	
#services .box1{
	text-align:center;}
	
#services .box1 h3{
	font-size:50px;
	color:#C30;}
	
#services .box1 p{
	color:#333;
	font-size:22px;
	margin:20px 0;}

#services .box2{
	overflow:hidden;}
	
#services .box2 .col{
	width:290px;
	background-color:#FFF;
	text-align:center;
	padding:20px 0;
	float:left;
	border-radius:35px;}

#services .box2 .col h3{
	margin-top:20px;
	color:#C30;}

#contact{
	background-color:#243538;
	padding:30px 30px;
	overflow:hidden;}
	
#contact .cc1{
	width:40%;
	float:left;}
	
#contact .cc2{
	width:60%;
	float:right;}


#contact h4{
	color:#FFF;
	font-size:26px;
	font-weight:normal;
	margin-bottom:10px;}

#contact .cc2 p{
	color:#999;
	line-height:24px;}

footer{
	background-color:#000;
	color:#FFF;
	text-align:center;
	padding:30px 0;}
	
footer p a{
	color:#C30;
	text-decoration:none;}
	
	